@import "theme.scss";

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

      &.#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

html {
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
    background: themed('backgroundGradient');

    .card {
      cursor: pointer;
      transition: color 0.1s, background-color 0.1s;
      width: 30%;
      border-radius: 1rem;
      --tw-shadow: 0 25px 50px -12px rgb(0 0 0/0.25);
      --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color
      -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow));
      @include themify($themes) {
        background-color: themed('cardColor');
        }
      }
    }
}
  