$themes: (
light: (
backgroundColor: white,
textColor: #408bbd,
cardColor: black,
            ),
dark: (
backgroundColor: #222,
textColor: #ddd,
cardColor: white,
            ),
cold: (
backgroundColor: rgb(140, 58, 180),
backgroundGradient: linear-gradient(0deg, rgba(140, 58, 180, 1) 20%, rgba(56, 9, 210, 1) 58%, rgba(69, 252, 250, 1) 96%),
textColor: #ddd,
cardColor: black,
            ),
warm: (
backgroundColor: rgb(131, 58, 180),

backgroundGradient: linear-gradient(0deg, rgba(131, 58, 180, 1) 3%, rgba(210, 9, 9, 1) 51%, rgba(252, 176, 69, 1) 98%),
textColor: black,
cardColor: white,
            ),
);